In [2]:
import pandas as pd

data = pd.read_json("Jeopardy.json")

data

,category,air_date,question,value,answer,round,show_number
0,HISTORY,2004-12-31,"'For the last 8 years of his life, Galileo was...",$200,Copernicus,Jeopardy!,4680
1,ESPN's TOP 10 ALL-TIME ATHLETES,2004-12-31,'No. 2: 1912 Olympian; football star at Carlis...,$200,Jim Thorpe,Jeopardy!,4680
2,EVERYBODY TALKS ABOUT IT...,2004-12-31,'The city of Yuma in this state has a record a...,$200,Arizona,Jeopardy!,4680
3,THE COMPANY LINE,2004-12-31,"'In 1963, live on ""The Art Linkletter Show"", t...",$200,McDonald\'s,Jeopardy!,4680
4,EPITAPHS & TRIBUTES,2004-12-31,"'Signer of the Dec. of Indep., framer of the C...",$200,John Adams,Jeopardy!,4680
...,...,...,...,...,...,...,...
216925,RIDDLE ME THIS,2006-05-11,'This Puccini opera turns on the solution to 3...,$2000,Turandot,Double Jeopardy!,4999
216926,"""T"" BIRDS",2006-05-11,'In North America this term is properly applie...,$2000,a titmouse,Double Jeopardy!,4999
216927,AUTHORS IN THEIR YOUTH,2006-05-11,"'In Penny Lane, where this ""Hellraiser"" grew u...",$2000,Clive Barker,Double Jeopardy!,4999
216928,QUOTATIONS,2006-05-11,"'From Ft. Sill, Okla. he made the plea, Arizon...",$2000,Geronimo,Double Jeopardy!,4999
216929,HISTORIC NAMES,2006-05-11,'A silent movie title includes the last name o...,None,Grigori Alexandrovich Potemkin,Final Jeopardy!,4999

In [11]:
typesOfCategories = data['category'].unique()
data['category'].value_counts()
sciencedata = data[data['category'].str.contains("SCIENCE")]
sciencedata['category'].unique()

array(['SCIENCE CLASS', 'GENERAL SCIENCE', 'SCIENCE', 'SCIENCE & NATURE',
       'PHYSICAL SCIENCE', 'SCIENCE GUYS', 'SIMPLE SCIENCE',
       '"A" SCIENCE CATEGORY', 'LIFE SCIENCE', 'GIANTS OF SCIENCE',
       'SCIENCE BRIEFS', 'BASIC SCIENCE', 'SCIENCE & TECHNOLOGY',
       'WOMEN IN SCIENCE', '"A" IN SCIENCE', 'NAMES IN SCIENCE',
       '"D" IN SCIENCE', 'SCIENCE TERMS', 'SOCIAL SCIENCE',
       'SCIENCE AT THE EXPLORATORIUM', 'SCIENCE "T"ALK',
       'REAL MEN OF SCIENCE', '20th CENTURY SCIENCE', 'SCIENCE FICTION',
       'FIELDS OF SCIENCE', 'SCIENCE GRAB BAG', 'SCIENCE HISTORY',
       'POLITICAL SCIENCE', '19th CENTURY SCIENCE',
       '2-WORD SCIENCE RESPONSES', 'SCIENCE "L"IST', 'MEN OF SCIENCE',
       'EPONYMOUS SCIENCE', 'MILITARY SCIENCE', 'THE SOCIAL SCIENCES',
       'EVERYDAY SCIENCE', 'TOUGH SCIENCE', 'EXPLORERS IN SCIENCE',
       "IT AIN'T ROCKET SCIENCE", 'SCIENCE NEWS', '"BIO" SCIENCE',
       'EARTH SCIENCE', 'FUN WITH SCIENCE', 'FOOD SCIENCE',
       '"HY" SCIENCE', 'SOME SCIENCE, SOME NATURE',
       'SCIENCE FICTION FILMS', '1890s SCIENCE', 'ROCKET SCIENCE',
       'THE SCIENCE OF SOUND', 'CUTTING-EDGE SCIENCE', 'SPACE SCIENCE',
       'AN "A" IN SCIENCE', 'SCIENCE FACTS',
       'PHYSICS, BRAIN SURGERY & ROCKET SCIENCE', 'SCIENCE GLOSSARY',
       '"C" IN SCIENCE', 'SCIENCE IS A BREEZE', 'THE SCIENCE BUG',
       'SCIENCE A TO Z', 'SCIENCE ADJECTIVES',
       'SHE BLINDED ME WITH SCIENCE', 'SCIENCE OF THE TIMES',
       'PHYSICAL SCIENCE CONSTANTS', 'MATH & SCIENCE', 'GERMAN SCIENCE',
       '"B" IN SCIENCE', 'THE NEW YORK TIMES SCIENCE TIMES',
       '"RED" SCIENCE', 'SCIENCE STUFF', 'YOU BETTER KNOW SOME SCIENCE',
       'BILL NYE THE SCIENCE GUY', '20th CENTURY SCIENCE TIDBITS',
       'CALIFORNIA SCIENCE CENTER', "THAT'S LIFE SCIENCE", 'SCIENCE FACT',
       '19TH CENTURY SCIENCE', '"GEN"ERAL SCIENCE', 'SCIENCE FACTION',
       'SCIENCE QUIZ', 'GREEK SCIENCE', 'COMPUTER SCIENCE',
       'LIFE SCIENCES', 'MARINE SCIENCE', 'BORN & DIED: SCIENCE EDITION',
       '“A” IN SCIENCE', 'INSIDE SCIENCE', '17th CENTURY SCIENCE',
       'SCIENCE WORD ORIGINS', 'THE SCIENCE GEEK', 'THEORIES OF SCIENCE',
       'WEIRD SCIENCE', 'SCIENCE-FICTION TV', '3-LETTER SCIENCE',
       'MODERN SCIENCE', 'SCIENCE POTPOURRI', 'THE SCIENCE OF AUTUMN',
       'CARTOON SCIENCE', 'WE BLINDED YOU WITH SCIENCE',
       '"P"SCIENCE & MEDICINE', 'SCIENCE & TECH DIGEST: 1885',
       'THE SCIENCE LAB', 'MIND YOUR SCIENCE "P"s & "Q"s', 'SCIENCE LAB',
       'THE SCIENCE WORLD', 'TO "L" WITH SCIENCE',
       'CNN 25: SCIENCE & TECHNOLOGY', 'POPULAR SCIENCE BEST OF 2006',
       'POPULAR SCIENCE', 'EARTH SCIENCES', 'SCIENCE IN THE 1800s',
       'DANGEROUS SCIENCE', 'SCIENCE-Y 3-LETTER WORDS',
       'MEN & WOMEN OF SCIENCE', 'SCIENCE CROSSWORD CLUES "E"',
       'PLANT SCIENCE', 'SCIENCE "K"LASS', 'NOT SO RECENT SCIENCE',
       'TERMS IN SCIENCE', 'THE SCIENCE OF COLOR', 'SCIENCE EN ESPAÑOL',
       'THE SCIENCE SECTION', 'THE SCIENCE BLUES', '"E" IN SCIENCE',
       'ANCIENT SCIENCE', 'NEGATIVE SCIENCE', 'SPORTS SCIENCE',
       'FICTION SCIENCE', 'ULTRA SCIENCE', 'WORDS IN SCIENCE',
       'SCIENCE OF 1990', 'THE SCIENCE CATEGORY',
       "IT'S ALL SCIENCEY & STUFF", '"V" LOVE SCIENCE', '1930S SCIENCE',
       'SCIENCE PUNS', '16th CENTURY SCIENCE',
       'POPULAR SCIENCE TOP STORIES OF 2003', 'NEUROSCIENCE',
       'POPULAR SCIENCE BEST OF 2007', 'SCIENCE FAIR', '"TRANS" SCIENCE',
       '"P" IN SCIENCE', 'THE SCIENCE OF LIQUOR',
       'THE HISTORY OF SCIENCE', '"F"RIENDS OF SCIENCE', 'SCIENCE CENTER',
       'POPULAR SCIENCE TOP STORIES OF 2000', 'COLORFUL SCIENCE',
       'SHORT SCIENCE BIOS', 'CIRCUS SCIENCE', 'SCIENCE PRIZES',
       'U.S. SCIENCE CITIES', '2-WORD SCIENCE TERMS', 'SCIENCE IS GOLDEN',
       '2010 SCIENCE NEWS'], dtype=object)